<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenue à Global Knowledge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <img src="assets/967-9674459_2650-hvidovre-denmark-global-knowledge-logo.png" alt="Global Knowlegde" >
        <ion-card-subtitle>Global Knowledge</ion-card-subtitle>
        <ion-card-title>Ionic 6 </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Ionic 6, Angular 11, Pages, Contents
      </ion-card-content>
    </ion-card>
</ion-content>